# .github/workflows/notify-downstream.yml в Репозитории Б

name: Notify Downstream Repo

# Запускать при пуше в ветку main
on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow in Repository A
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT_FOR_DISPATCH }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/dolex/dolex.github.io/dispatches \
            -d '{"event_type":"source_repo_updated"}'